{% include "main.html" %}
	<title>Articles</title>
</head>
<body>
	{% include "header.html" %}
	<div class="container content">
	{% for i in articles %}
	<div class="row">
		<a href="{{url_for('itemDetails',category_name = category_name, articleTitle = i.title)}}">
			<div class="myWell col-md-8">
				<div class="row">
					<div class="col-md-12">
						<h2>{{i.title}}</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p>{{i.time[:10]}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<a href="{{url_for('itemEdit', articleTitle = i.title)}}"><span class="btn btn-success submitBtn">Edit</span></a>
					</div>
					<div class="col-md-2">
						<a href="{{url_for('itemDelete', articleTitle = i.title)}}"><span class="btn btn-danger submitBtn">Delete</span></a>
					</div>
				</div>
			</div>
		</a>
	</div>
	{% endfor %}

</div>
</body>
</html>