{% include "main.html" %}
	<title>Delete Article</title>
</head>
<body>
	{% include "header.html" %}
	<div class="container content">
		<div class="row">
			<div class="col-md-12">
				<h1>Are you sure you want to delete {{article.title}}?</h1>
			</div>
		</div>
		<div class="row">
			<form method="post" action="{{url_for('itemDelete', articleTitle = article.title)}}">
			<div class="col-md-2">
				<input type="submit" class="btn btn-danger submitBtn" value="Delete">
			</div>
			</form>
			<div class="col-md-3">
				<a class="btn btn-primary submitBtn" href="{{url_for('homeHandler')}}">Cancel</a>
			</div>
		</div>
	</div>
</body>
</html>