<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta content="Science Digest" name="description">
    <meta content="Science, Articles, categories, physics" name="keywords">
    <meta content="Saurabh Thakur" name="author">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
	<script src="{{url_for('static', filename='js/jquery.js')}}">
    </script> 
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}">
    </script>